/*TOP RIGHT BOTTOM LEFT*/

@import url("https://fonts.googleapis.com/css?family=Ubuntu|Spectral");

body {
    background-image: url("houndstooth-pattern.png");
}

.container {
    background: rgba(225, 225, 225,0.5);
    width: 920px;
    min-height: 600px;
    margin: 10px auto 0 auto;
    padding-left: 1px;
    padding-right: 1px;
    border-right: 10px double;
    border-left: 10px double;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-sizing: border-box;
}

header {

}

header h1 {
    font-family: "Spectral", serif;
    border-top: 3px solid black;
    background: linear-gradient(135deg, #000000 0%, #000000 55.99%, #ffffff 56%, #ffffff 100%);
    margin: auto -8px auto -8px;
    padding-right: 4px;
    text-align: end;
}

nav {
    background: linear-gradient(135deg, #FFFFFF 0%,#FFFFFF 50.99%,#000000 51%,#000000 100%);
    margin: auto -8px auto -8px;
    border-bottom: 3px solid black;
}

nav ul {
    list-style-type: none;
    margin: 0 50% 0 auto;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav li {
    float: left;
}

nav li a {
    font-family: "Ubuntu", serif;
    display: block;
    padding: 14px 16px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav li a:hover {
    background-color: black;
    color: white;
    font-weight: bold;
}